<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.securityoperation.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="top.sharehome.securityoperation.model.entity.Project">
        <id column="project_id" jdbcType="BIGINT" property="id"/>
        <result column="project_name" jdbcType="VARCHAR" property="name"/>
        <result column="project_description" jdbcType="VARCHAR" property="description"/>
        <result column="project_url" jdbcType="VARCHAR" property="url"/>
        <result column="project_manager_id" jdbcType="BIGINT" property="managerId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,
        project_name,
        project_description,
        project_url,
        project_manager_id,
        create_time,
        update_time,
        del_flag
    </sql>
</mapper>
